/* unsplash for photos */
div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border:2px solid black;
    display:inline-block;
} 
/* 
background-size: cover/contain/auto
cover:completely fit means no space left image chahe km ho
contain:priority hai image puri honi chahiye  
auto:enlarged image 
BY DEFAULT ITS AUTO
*/
#box1,body{
    background-image:url('box1.jpeg');
    background-size:cover ;
    color: aqua;
}
#box2{
    background-image:url("box2.jpeg");
    background-size:contain;
    background-color: rgb(25, 24, 23);
}
#box3{
    background-image:url("box3.jpeg");
    background-size:auto;
}