.container{
    background-color: #4B3621;
    color: #F5E1C8;
}
.textcolor{
    color:#D4AF37;
}
*{
    margin:0;
    padding: 0;
}
.mx-auto{
    margin-left: auto;
    margin-right:auto;
}
.mx-height{
    min-height: 100vh;
}
.alignment{
    display:flex;
    height: 50px;
}
.right-side{
   list-style:none;
   margin-left:0 10px;
   padding-top: 13px;
}
.navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.lim{
    margin-left: 10px;
}
.button{
    background-color: #D4AF37;
    padding-left: 4px;
    padding-top: 3px;
    padding-bottom: 2px;
    padding-right: 4px;
    border-radius: 10px;
    cursor: pointer;
}
.boldness{
    font-weight:bold;
}
.itemcenter{
    align-items:center;
}
.justify-center{
    justify-content:center;
}
.justify-between{
   justify-content:space-between;
} 
.flex-col{
    flex-direction:column;
}
.display-flex{
    display:flex;
}
.sec1{
    min-height: 280px;
}
.leftone{
    max-width: 50%;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 70px;
}
